-# app/views/sessions/new.html.haml

%h2 Log In

= form_tag sessions_path do
  %p.no_margin
    = label_tag :email, "Email Address"
    = text_field_tag :email, params[:email]
  %p
    = label_tag :password
    = password_field_tag :password
  %p.button.no_margin= submit_tag "Log In"