/ %h1 Home#about
/ %p Find me in app/views/home/about.html.haml

= content_for :top_navigation do
  = navigation :skip => [ :about ]

%h1 About This Site

%p
  This site runs on
  #{link_to "Ruby on Rails", "http://rubyonrails.org/"}, which I recommend
  highly. The views are written in
  #{link_to "Haml", "http://haml-lang.com/"}
  and styled using
  #{link_to "Sass", "http://sass-lang.com/"},
  with a little
  #{link_to "Markdown", "http://daringfireball.net/projects/markdown/"}
  magic (powered by
  #{link_to "Redcarpet", "https://github.com/tanoku/redcarpet"}).
  For client-side scripting made easy, I'm using the excellent
  #{link_to "jQuery", "http://jquery.com/"}
  library.

%p
  This site also uses the
  = link_to "Solarized", "http://ethanschoonover.com/solarized"
  theme, by Ethan Schoonover.
  
%h2 About Cookies
%p
  This site uses cookies to store user preferences. I do not and will never use
  cookies on this site to collect or store personal information of any kind,
  nor are or will be cookies required to view the content on this site.
%p
  If you choose to disable cookies, the site will display with default
  preferences (e.g. displaying a different theme based on the local server
  time).

%h1 About The Author
%p
  (With apologies to J. M. Barrie and J. Michael Straczynski.)

%h2 Who Are You?
%p
  My name is Rob Smith, I'm an engineer, programmer, web developer, and
  aspiring game designer.

%h2 What Do You Want?
%p
  Someday, to design the world's greatest game. For now, to write, to code,
  and to not go too crazy along the way.

%h2 Where Are You Going?
%p
  Second star to the right, and straight on 'till morning.

%h2 Who Do You Serve, and Who Do You Trust?
%p
  I work for
  = (link_to "T-Mark International", "http://www.t-mark.co.jp/en") + ","
  a global web agency with offices in Japan and the eastern United
  States. My business card says "Programmer", but mostly I do web
  development, and a little Flash.

%h1 About Sleeping King Studios
%p
  You may be thinking that one designer on a laptop does not a
  &ldquo;studios&rdquo; make. You, sir or ma'am, are absolutely correct. But I
  like the name, so I'm keeping it.