/ %h1 Home#sitemap
/ %p Find me in app/views/home/sitemap.html.haml

%h1 Sitemap
%p
  This will be a sitemap someday. For now, it is a demonstration page for CSS.
  
%p.apple
  Choose a theme:
  %a#theme_select_light{:href => "#light"} Light
  |
  %a#theme_select_dark{:href => "#dark"} Dark
  
%p
  This is <strong>bold text</strong>.
  This is <em>italic text</em>.

- @errors ||= ["This is an error message."] * 2
= render "articles/error"  

%h2 Images

%h3 Apples (Light)
/ = image_tag 'apple_color_light_very_large.png'
= image_tag 'apple_color_light_large.png'
/ = image_tag 'apple_color_light_mid.png'
= image_tag 'apple_color_light_small.png'
/ = image_tag 'apple_color_light_very_small.png'

%h3 Apples (Dark)
= image_tag 'apple_color_dark_large.png'
= image_tag 'apple_color_dark_small.png'