= render "layoutRenderer"

%h1 The Basics

= render "error"
- read_more = "Read&nbsp;More".html_safe

%h2 Checks
%p
  The basic task-resolution mechanism in Pendragon is the check. To resolve a
  check, simply roll two six-sided dice, add the creature's applicable
  attribute score (see below), and add any bonuses from relevant skills.
  = "#{link_to read_more, "/articles/pendragon/running#check"}.".html_safe

%h2 Attributes
%p
  Each character or creature has three attributes &mdash; Mind, Body, and
  Spirit &mdash; each with a numeric score (typically in the range of 1 to 6).
  Taken together, these attribute scores representing its base level of
  ability, and are used to determine the creature's bonus when making checks,
  as well as the size of its token pools (see Tokens, below).
  = "#{link_to read_more, "/articles/pendragon/character-creation#attributes"}.".html_safe

%h2 Skills and Flaws
%p
  While a creature or character's basic aptitudes are defined by its three
  attribute scores, by learning skills they can acquire new abilities and
  powers as well as focused bonuses rewarding specialization and experience in
  a field. Skills can grant new attacks, spells, shouts, or other techniques,
  or grant bonuses to checks in specific circumstances. Characters can also
  spend their skill points to customize their existing skills, and build their
  own skill combos.
  = "#{link_to read_more, "/articles/pendragon/character-creation#skills"}.".html_safe
%p
  Flaws are, in a sense, anti-skills - they apply some drawback or restriction
  to the character or creature, in exchange for granting one or more additional
  skill points to spend on skills. Used sparingly, flaws can add depth and
  character, providing an additional way to differentiate otherwise-similar
  characters and creatures.

%h2 Tokens
%p
  During encounters, a creature's current status is tracked using tokens. In
  addition to hit points and damage, tokens are used to power abilities, such
  as special techniques and magic spells. Tokens are highly dynamic &ndash; as
  the flow of an encounter shifts, creatures will pick up, lose, spend, and
  recover tokens often. In a difficult challenge, careful management of this
  resource can mean the difference between victory and defeat.
  = "#{link_to read_more, "/articles/pendragon/running#tokens"}.".html_safe

%p.apple= link_to "Continue to Character Creation", "/articles/pendragon/character-creation"